In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [1]:
list2=[10,20,14,55,43,87,76]
print(list2)
print("Number of item in the List2:\n",len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [2]:
str="Artificial Intelligence"
print(str)
for temp in str:
    print(temp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [4]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [5]:
Tuple1=(1,'Welcome',2,'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [6]:
tuple1=(0,1,2,3)
tuple2=('python','Hope')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [8]:
lists1=[20,10,16,19,25,1,276,188]
for num in lists1:
    if((num%2)==1):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [ ]:
list1=[20,10,16,19,25,1,276,188]
for num in lists1:
    if((num%2)==0):
        print(num,"is even")